body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;

}

h1{
text-align: center;
margin-top: 2px;
}

label{
    display: flex;
    align-items: center;
    margin: 10px 0;

}

#password{
margin-top: 20px;
font-size: 24px;
text-align: center;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #f3f3f3;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#generate{

    margin-top: 20px;
    background-color: #4caf4c;
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: medium;
    cursor: pointer;
}

#generate:hover{
background-color: #3e8e41;

}

